<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标记集</title>
</head>
<body>
<section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
    <div class="wy-nav-content">
        <div class="rst-content">
            <div role="navigation" aria-label="breadcrumbs navigation">
                <hr>
            </div>
            <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
                <div itemprop="articleBody">
                    <div class="section" id="id1">
                        <div class="section" id="id2">
                            <h2>分词标注集<a class="headerlink"
                                        href="http://ltp.readthedocs.io/zh_CN/latest/appendix.html#id2"
                                        title="永久链接至标题">¶</a></h2>
                            <div class="wy-table-responsive">
                                <table border="1" class="docutils">
                                    <colgroup>
                                        <col width="21%">
                                        <col width="36%">
                                        <col width="43%">
                                    </colgroup>
                                    <thead valign="bottom">
                                    <tr class="row-odd">
                                        <th class="head">标记</th>
                                        <th class="head">含义</th>
                                        <th class="head">举例</th>
                                    </tr>
                                    </thead>
                                    <tbody valign="top">
                                    <tr class="row-even">
                                        <td>B</td>
                                        <td>词首</td>
                                        <td>__中__国</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>I</td>
                                        <td>词中</td>
                                        <td>哈__工__大</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>E</td>
                                        <td>词尾</td>
                                        <td>科__学__</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>S</td>
                                        <td>单字成词</td>
                                        <td>的</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="section" id="id3">
                            <h2>词性标注集<a class="headerlink"
                                        href="http://ltp.readthedocs.io/zh_CN/latest/appendix.html#id3"
                                        title="永久链接至标题">¶</a></h2>
                            <p>LTP 使用的是863词性标注集，其各个词性含义如下表。</p>
                            <div class="wy-table-responsive">
                                <table border="1" class="docutils">
                                    <colgroup>
                                        <col width="7%">
                                        <col width="28%">
                                        <col width="16%">
                                        <col width="7%">
                                        <col width="26%">
                                        <col width="16%">
                                    </colgroup>
                                    <thead valign="bottom">
                                    <tr class="row-odd">
                                        <th class="head">Tag</th>
                                        <th class="head">Description</th>
                                        <th class="head">Example</th>
                                        <th class="head">Tag</th>
                                        <th class="head">Description</th>
                                        <th class="head">Example</th>
                                    </tr>
                                    </thead>
                                    <tbody valign="top">
                                    <tr class="row-even">
                                        <td>a</td>
                                        <td>adjective</td>
                                        <td>美丽</td>
                                        <td>ni</td>
                                        <td>organization name</td>
                                        <td>保险公司</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>b</td>
                                        <td>other noun-modifier</td>
                                        <td>大型, 西式</td>
                                        <td>nl</td>
                                        <td>location noun</td>
                                        <td>城郊</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>c</td>
                                        <td>conjunction</td>
                                        <td>和, 虽然</td>
                                        <td>ns</td>
                                        <td>geographical name</td>
                                        <td>北京</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>d</td>
                                        <td>adverb</td>
                                        <td>很</td>
                                        <td>nt</td>
                                        <td>temporal noun</td>
                                        <td>近日, 明代</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>e</td>
                                        <td>exclamation</td>
                                        <td>哎</td>
                                        <td>nz</td>
                                        <td>other proper noun</td>
                                        <td>诺贝尔奖</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>g</td>
                                        <td>morpheme</td>
                                        <td>茨, 甥</td>
                                        <td>o</td>
                                        <td>onomatopoeia</td>
                                        <td>哗啦</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>h</td>
                                        <td>prefix</td>
                                        <td>阿, 伪</td>
                                        <td>p</td>
                                        <td>preposition</td>
                                        <td>在, 把</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>i</td>
                                        <td>idiom</td>
                                        <td>百花齐放</td>
                                        <td>q</td>
                                        <td>quantity</td>
                                        <td>个</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>j</td>
                                        <td>abbreviation</td>
                                        <td>公检法</td>
                                        <td>r</td>
                                        <td>pronoun</td>
                                        <td>我们</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>k</td>
                                        <td>suffix</td>
                                        <td>界, 率</td>
                                        <td>u</td>
                                        <td>auxiliary</td>
                                        <td>的, 地</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>m</td>
                                        <td>number</td>
                                        <td>一, 第一</td>
                                        <td>v</td>
                                        <td>verb</td>
                                        <td>跑, 学习</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>n</td>
                                        <td>general noun</td>
                                        <td>苹果</td>
                                        <td>wp</td>
                                        <td>punctuation</td>
                                        <td>，。！</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>nd</td>
                                        <td>direction noun</td>
                                        <td>右侧</td>
                                        <td>ws</td>
                                        <td>foreign words</td>
                                        <td>CPU</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>nh</td>
                                        <td>person name</td>
                                        <td>杜甫, 汤姆</td>
                                        <td>x</td>
                                        <td>non-lexeme</td>
                                        <td>萄, 翱</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>z</td>
                                        <td>descriptive words</td>
                                        <td>瑟瑟，匆匆</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="section" id="id4">
                            <h2>命名实体识别标注集<a class="headerlink"
                                            href="http://ltp.readthedocs.io/zh_CN/latest/appendix.html#id4"
                                            title="永久链接至标题">¶</a></h2>
                            <p>NE识别模块的标注结果采用O-S-B-I-E标注形式，其含义为</p>
                            <div class="wy-table-responsive">
                                <table border="1" class="docutils">
                                    <colgroup>
                                        <col width="21%">
                                        <col width="79%">
                                    </colgroup>
                                    <thead valign="bottom">
                                    <tr class="row-odd">
                                        <th class="head">标记</th>
                                        <th class="head">含义</th>
                                    </tr>
                                    </thead>
                                    <tbody valign="top">
                                    <tr class="row-even">
                                        <td>O</td>
                                        <td>这个词不是NE</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>S</td>
                                        <td>这个词单独构成一个NE</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>B</td>
                                        <td>这个词为一个NE的开始</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>I</td>
                                        <td>这个词为一个NE的中间</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>E</td>
                                        <td>这个词位一个NE的结尾</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p>LTP中的NE 模块识别三种NE，分别如下：</p>
                            <div class="wy-table-responsive">
                                <table border="1" class="docutils">
                                    <colgroup>
                                        <col width="43%">
                                        <col width="57%">
                                    </colgroup>
                                    <thead valign="bottom">
                                    <tr class="row-odd">
                                        <th class="head">标记</th>
                                        <th class="head">含义</th>
                                    </tr>
                                    </thead>
                                    <tbody valign="top">
                                    <tr class="row-even">
                                        <td>Nh</td>
                                        <td>人名</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>Ni</td>
                                        <td>机构名</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>Ns</td>
                                        <td>地名</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="section" id="id5">
                            <h2>依存句法关系<a class="headerlink"
                                         href="http://ltp.readthedocs.io/zh_CN/latest/appendix.html#id5"
                                         title="永久链接至标题">¶</a></h2>
                            <div class="wy-table-responsive">
                                <table border="1" class="docutils">
                                    <colgroup>
                                        <col width="16%">
                                        <col width="7%">
                                        <col width="38%">
                                        <col width="38%">
                                    </colgroup>
                                    <thead valign="bottom">
                                    <tr class="row-odd">
                                        <th class="head">关系类型</th>
                                        <th class="head">Tag</th>
                                        <th class="head">Description</th>
                                        <th class="head">Example</th>
                                    </tr>
                                    </thead>
                                    <tbody valign="top">
                                    <tr class="row-even">
                                        <td>主谓关系</td>
                                        <td>SBV</td>
                                        <td>subject-verb</td>
                                        <td>我送她一束花 (我 &lt;– 送)</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>动宾关系</td>
                                        <td>VOB</td>
                                        <td>直接宾语，verb-object</td>
                                        <td>我送她一束花 (送 –&gt; 花)</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>间宾关系</td>
                                        <td>IOB</td>
                                        <td>间接宾语，indirect-object</td>
                                        <td>我送她一束花 (送 –&gt; 她)</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>前置宾语</td>
                                        <td>FOB</td>
                                        <td>前置宾语，fronting-object</td>
                                        <td>他什么书都读 (书 &lt;– 读)</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>兼语</td>
                                        <td>DBL</td>
                                        <td>double</td>
                                        <td>他请我吃饭 (请 –&gt; 我)</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>定中关系</td>
                                        <td>ATT</td>
                                        <td>attribute</td>
                                        <td>红苹果 (红 &lt;– 苹果)</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>状中结构</td>
                                        <td>ADV</td>
                                        <td>adverbial</td>
                                        <td>非常美丽 (非常 &lt;– 美丽)</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>动补结构</td>
                                        <td>CMP</td>
                                        <td>complement</td>
                                        <td>做完了作业 (做 –&gt; 完)</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>并列关系</td>
                                        <td>COO</td>
                                        <td>coordinate</td>
                                        <td>大山和大海 (大山 –&gt; 大海)</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>介宾关系</td>
                                        <td>POB</td>
                                        <td>preposition-object</td>
                                        <td>在贸易区内 (在 –&gt; 内)</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>左附加关系</td>
                                        <td>LAD</td>
                                        <td>left adjunct</td>
                                        <td>大山和大海 (和 &lt;– 大海)</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>右附加关系</td>
                                        <td>RAD</td>
                                        <td>right adjunct</td>
                                        <td>孩子们 (孩子 –&gt; 们)</td>
                                    </tr>
                                    <tr class="row-even">
                                        <td>独立结构</td>
                                        <td>IS</td>
                                        <td>independent structure</td>
                                        <td>两个单句在结构上彼此独立</td>
                                    </tr>
                                    <tr class="row-odd">
                                        <td>核心关系</td>
                                        <td>HED</td>
                                        <td>head</td>
                                        <td>指整个句子的核心</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div role="navigation" aria-label="breadcrumbs navigation">
                <hr>
            </div>
    </div>

</section>


</body>
</html>